services:
  web:
    build: .
    ports:
      - 5500:5500
    depends_on:
      mysql_db:
        condition: service_healthy
  mysql_db:
    image: mysql
    restart: always
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
    ports:
      - 33060:3306
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1"]
      interval: 1m30s
      timeout: 30s
      retries: 3
      start_period: 30s
      start_interval: 5s
